<mat-toolbar>
  <button mat-button routerLink="/new-quote" routerLinkActive="active">New Quote</button>
  <button mat-button routerLink="/saved-quotes" routerLinkActive="active">Saved Quotes</button>
  <span class="example-spacer"></span>


  <span>Smart Insurance</span>
  <button mat-button [matMenuTriggerFor]="menu">
    <mat-icon>menu</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/profile" routerLinkActive="active">Profile</button>
    <button mat-menu-item routerLink="/my-membership" routerLinkActive="active">My Membership</button>
    <button mat-menu-item routerLink="/my-policies" routerLinkActive="active">My Policies</button>
  </mat-menu>
</mat-toolbar>
