<div class="quote-sections">
  <mat-accordion class="example-headers-align" >
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Information
        </mat-panel-title>
        <mat-panel-description>
          50% complete
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-personal-details *ngIf="profile.personalDetails"
                            [personalDetails]="profile.personalDetails"
                            (onSave)="save()" [isOpen]="step == 0"></app-personal-details>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)" hideToggle>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Driver Information
        </mat-panel-title>
        <mat-panel-description>
          20% complete
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-driver-history *ngIf="profile.driverHistory"
                          [driverHistory]="profile.driverHistory"></app-driver-history>
    </mat-expansion-panel>
  </mat-accordion>

</div>


