<div class="quote-sections">
  <div class="example-action-buttons" align="right">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Personal Information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
      <app-personal-details *ngIf="profile.personalDetails"
                            [personalDetails]="profile.personalDetails"
                            (onSave)="save()"></app-personal-details>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Driver Information
        </mat-panel-title>
        <mat-panel-description>
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <app-driver-history *ngIf="profile.driverHistory"
                          [driverHistory]="profile.driverHistory" (onSave)="save()"></app-driver-history>
    </mat-expansion-panel>
  </mat-accordion>

</div>


