<!-- Default form contact -->
<div class="text-center border border-light p-5" *ngIf="profile">
  <p>
    <mat-form-field matFormFieldCtrl=ctrl appearance="standard">
      <mat-label>Full Name</mat-label>
      <input matInput placeholder="Full Name" [(ngModel)]="profile.name">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
      <mat-hint>Hint</mat-hint>
    </mat-form-field>
  </p>

  <!-- Send button -->
  <button mat-raised-button color="primary" (click)="save()">Save</button>
</div>
<!-- Default form contact -->

