<p>Claims:</p>
<form [formGroup]="form" (ngSubmit)="save()">

  <div id="pd-main">
    <div class="pd-form-group">
      <mat-form-field appearance="fill">
        <mat-label>Full name</mat-label>
        <input matInput id="first-name" type="text" formControlName="fullName" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Date of birth</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" id="dob"
               formControlName="dob">
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>

      <p>
        <mat-label>Employment Status</mat-label>
      </p>
      <p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" id="employmentStatus" formControlName="employmentStatus">
          <mat-button-toggle value="FullTime">Full Time</mat-button-toggle>
          <mat-button-toggle value="PartTime">Part Time</mat-button-toggle>
          <mat-button-toggle value="Unemployed">Unemployed</mat-button-toggle>
          <mat-button-toggle value="Retired">Retired</mat-button-toggle>
          <mat-button-toggle value="Student">Student</mat-button-toggle>

        </mat-button-toggle-group>
      </p>

    </div>
  </div>

  <div class="mat-button">
    <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid"
            *ngIf="form.enabled">Save
    </button>
  </div>
</form>


<app-previous-claims *ngIf="driverHistory.previousClaims"
                     [previousClaims]="driverHistory.previousClaims!"></app-previous-claims>
