<form [formGroup]="form" (ngSubmit)="save()">

  <div id="pd-main">
    <div class="pd-form-group">

      <p>
        <mat-label>Type of licence held:</mat-label>
      </p>
      <p>
        <mat-button-toggle-group name="fontStyle" aria-label="Font Style" id="licenceType"
                                 formControlName="licenceType">
          <mat-button-toggle value="Full">Full</mat-button-toggle>
          <mat-button-toggle value="Provisional">Provisional</mat-button-toggle>
        </mat-button-toggle-group>
      </p>
      <mat-form-field appearance="fill">
        <mat-label>Licence Number</mat-label>
        <input matInput id="licenceNo" type="text" formControlName="licenceNo" required>
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Licence Since:</mat-label>
        <input matInput [matDatepicker]="picker" (focus)="picker.open()" id="licenceSince"
               formControlName="licenceSince">
      </mat-form-field>
      <mat-datepicker #picker></mat-datepicker>


    </div>
  </div>
  <app-previous-claims [previousClaims]="driverHistory!.previousClaims!"></app-previous-claims>
  <div class="mat-button">
    <button mat-raised-button color="primary" type="submit" (click)="save()">Save
    </button>
  </div>
</form>
